/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.08.2015, 09:56:16
    Author     : TG00030
*/

.listButton{
    margin: 0.5em;
    width: 100%;
}

.myHeader{
    margin: 0.5em;
}

.glyphiconButton{
    margin: 0.5em;
}

body{
    padding: 70px 0px 140px 0px;
}

a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

.btn-trash{
    color:black;
}

.btn-trash:focus{
    color:red;
}

.btn-trash:hover{
    color:red;
}

.modal-subline{
    margin-top: 10px;
    margin-bottom: 5px;
}

.deleteList:hover{
    color:red;
}

.itemListActionBtn{
    margin: 0.5em;
    width: 10%;
}

#ErinnerungCount{
    margin-top: -15px;
    background: red;
}

/*Errorpage*/

.container-errorpage{
    width: 100%;
    height: 100%;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
}

/*Login*/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.noBorder
{
    border-width:0px;
    border:none;
}

.btn-itemCount{
    background: none;
    border-width:0px;
    border:none;
}

.input-items{
    border-width:0px;
    border:none;
    width: 50px;
}