/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.08.2015, 09:56:16
    Author     : TG00030
*/

.listButton{
    margin: 0.5em;
    width: 100%;
}

.myHeader{
    margin: 0.5em;
}

.glyphiconButton{
    margin: 0.5em;
}

body{
    padding: 70px 0px 140px 0px;
}

a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

input::-moz-focus-inner {
    border: 0;
}

#ErinnerungCount{
    margin-top: -15px;
    background: red;
}